[Unit]
Description=X Virtual Frame Buffer Service for TileServer-GL
After=Xvfb.service

[Service]
Type=simple
User=tserver
Group=tserver
Environment="DISPLAY=:99.0"
ExecStart=/home/tserver/.nvm/versions/node/v10.24.1/bin/node /opt/tileserver-gl/tileserver-gl-3.1.1/ -p 8080 -c /opt/tileserver-gl/configs/config-3.1.1.json
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
