<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TileServerGL</title>
  <link rel="stylesheet" type="text/css" href="/index.css{{&key_query}}" />
</head>
<body>
  <section>
    <h1 class="title"><img src="/images/logo.png" alt="TileServerGL" /></h1>
    <h2 class="subtitle">Map Layers for web and mobile applications.</h2>
    <h2 class="box-header">Styles</h2>
    <div class="box">
    {{#each styles}}
      <div class="item">
        {{#if thumbnail}}
          <img src="/styles/{{@key}}/rendered/{{thumbnail}}{{&../key_query}}" alt="{{name}} preview" />
        {{else}}
          <img src="/images/placeholder.png" alt="{{name}} preview" />
        {{/if}}
        <div class="details">
          <h3>{{name}}</h3>
          <p class="identifier">identifier: {{@key}}</p>
          <p class="services">
            {{#if serving_rendered}}
              services: <a href="/styles/{{@key}}/rendered.json{{&../key_query}}">TileJSON</a>
              {{#if wmts_link}}
                | <a href="{{&wmts_link}}">WMTS</a>
              {{/if}}
            {{/if}}
          </p>
        </div>
        <div class="viewers">
          {{#if serving_data}}
            {{#if serving_rendered}}
              <a class="btn" href="/styles/{{@key}}/{{&../key_query}}{{viewer_hash}}">Viewer</a>
            {{/if}}
          {{/if}}
          {{#if serving_rendered}}
            <a class="btn" href="/styles/{{@key}}/?{{&../key_query_part}}raster{{viewer_hash}}">Raster</a>
          {{/if}}
          {{#if serving_data}}
            <a class="btn" href="/styles/{{@key}}/?{{&../key_query_part}}vector{{viewer_hash}}">Vector</a>
          {{/if}}
        </div>
      </div>
    {{/each}}
    </div>
    <h2 class="box-header">Data</h2>
    <div class="box">
    {{#each data}}
      <div class="item">
        {{#if thumbnail}}
          <img src="/data/{{@key}}/{{thumbnail}}{{&../key_query}}" alt="{{name}} preview" />
        {{else}}
          <img src="/images/placeholder.png" alt="{{name}} preview" />
        {{/if}}
        <div class="details">
          <h3>{{name}}</h3>
          <p class="identifier">identifier: {{@key}}{{#if formatted_filesize}} | size: {{formatted_filesize}}{{/if}} | type: {{#is_vector}}vector{{/is_vector}}{{^is_vector}}raster{{/is_vector}} data</p>
          <p class="services">
            services: <a href="/data/{{@key}}.json{{&../key_query}}">TileJSON</a>
            {{#if wmts_link}}
              | <a href="{{&wmts_link}}">WMTS</a>
            {{/if}}
          </p>
        </div>
        <div class="viewers">
          {{#is_vector}}
          <a class="btn" href="/data/{{@key}}/{{&../key_query}}{{viewer_hash}}">X-Ray view</a>
          {{/is_vector}}
          {{^is_vector}}
          <a class="btn" href="/data/{{@key}}/{{&../key_query}}{{viewer_hash}}">Raster view</a>
          {{/is_vector}}
        </div>
      </div>
    {{/each}}
    </div>
  </section>
  <footer>
    <a href="https://www.klokantech.com/" target="_blank"><img src="/images/klokantech.png" /></a>
    <p>
      <a href="https://github.com/klokantech/tileserver-gl" target="_blank">Powered by TileServer-GL v{{server_version}}</a> – <a href="https://www.klokantech.com/" target="_blank">open-source project from Klokan Technologies GmbH.</a>
    </p>
  </footer>
</body>
</html>
